<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Model</title>
    <link rel="stylesheet" href="../article.css" />
  </head>
  <body>
    <article class="mb-article">
      <div class="mb-logo-section">
        <div class="mb-logo-container">
          <img
            src="./network-logos/mb.svg"
            alt="Logo MeilleursBiens"
            class="mb-logo mb-logo-meilleursbiens"
          />
        </div>
        <div class="mb-logo-vs">VS</div>
        <div class="mb-logo-container">
          <img
            src="./network-logos/Logo_iad.png"
            alt="Logo IAD France"
            class="mb-logo mb-logo-iad"
          />
        </div>
      </div>
      <!-- Contenu de l'article -->
    </article>
  </body>
</html>
